/* Admin Area */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object { margin: 0; padding: 0; }
fieldset, img, abbr { border: 0 none; }
a { color: #000; text-decoration: none; }
a:hover { color: #ff3015; }
li { list-style: none; }
#wrapper { width: 960px; margin: auto; position: relative; font-family: Open Sans, sans-serif; }
#adminpage { padding-bottom: 20px; margin-top: 100px; position: relative; }
#admin_login { margin: 225px auto auto; width: 300px; text-align: center; }
.loginform { margin: auto; width: 150px; }
.loginform input { width: 100%; }
.newimage form label, .newimage form input {clear:right !important;}
.newimage {border: 1px solid lightgray; padding: 20px; }
.images {    border: 1px solid lightgray;}
#leftmenu {}
#leftmenu li {margin: 10px 0; }
#leftmenu li a{}
#adminpage .rightside .delete a{ background: url(../images/adminbutton.png) no-repeat 0px 0px; height: 18px; position: relative; overflow: hidden; text-indent: 9000em; display: block; top: 5px; width: 32px; margin: auto; }
#adminpage .rightside .delete a:hover { background-position:0 -20px;}
#adminpage .projects li, #adminpage .articles li { list-style: none; margin: 0; }
#adminpage .projects li a, #adminpage .articles li a { color: #000; }
#adminpage .projects li a:hover, #adminpage .articles li a:hover { color: red; }
#adminpage .projects li div, #adminpage .articles li div { border: 1px solid #f0f0f0; display: table-cell; min-width: 50px; padding: 2px; margin: auto; }
#adminpage .projects li .name, #adminpage .articles li .name { width: 400px; text-indent: 20px; }
#adminpage .articles li .order { text-align: center; width: 150px; }
#adminpage .articles li .edit { width: 90px; }
#adminpage form label, #adminpage form input { clear: both; display: block; margin: 5px 0; font: bold 12px Open Sans; color: #676662; }
#adminpage form label { margin: 10px 0 2px 0; }
#adminpage form input[disabled] {color: #c1c1c1; border: 1px solid #c1c1c1; }
#adminpage .notification { color: #E5D5C2; margin: 25px 55px 0; }
#adminpage .id { text-align:center;}
input#submit { color: black !important; }
#adminpage .aux_images li { float: left; list-style: none outside none; margin: 5px; }
#adminpage .status-message { border: 1px solid; border-radius: 5px 5px 5px 5px; margin: 5px; padding: 10px; text-align: center; }
#adminpage h2 { margin: 10px 0; }
#adminpage h6 { font-size: 16px; }
#adminpage .description { padding-bottom: 10px; color: gray; text-transform: lowercase; }
.deletpage .left p { }
.deletpage .left div { border: 1px solid; margin: 5px 0; padding: 5px; }
#adminpage .edit input { }
#order input { display: inline !important; margin: 0 !important; }
#adminpage .leftside { float: left; width: 200px; padding-top: 40px; }
#adminpage .rightside { margin-left: 200px; padding-left: 30px; }
#adminpage .screenshots li { float: left; width: 33%; text-align: center; margin: 10px 0; }
#adminpage .name img { max-width: 160px; }
.clr { clear: both; }
.langselect { position: absolute; right: 40px; top: -50px; }
.langselect li {margin: 0 5px; float: left; }
.langselect li a {}
.langselect li.current a { color:red;}
.edit-order {width:150px;}
.images .edit-order { margin:35px 0 0 0;border: 1px solid; text-align: center; width: 200px; margin-left: 6%; }
.topselector form label, .topselector form input {clear: none !important; display: inline !important;}