/* CSS Document */
@font-face {
    font-family: 'pf_beausans_proregular';
    src: url('fonts/pfbeausanspro-reg.eot');
    src: url('fonts/pfbeausanspro-reg.eot?#iefix') format('embedded-opentype'),
    url('fonts/pfbeausanspro-reg.woff') format('woff'),
    url('fonts/pfbeausanspro-reg.ttf') format('truetype'),
    url('fonts/pfbeausanspro-reg.svg#pf_beausans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pf_beausans_prosemibold';
    src: url('fonts/pfbeausanspro-sebold.eot');
    src: url('fonts/pfbeausanspro-sebold.eot?#iefix') format('embedded-opentype'),
    url('fonts/pfbeausanspro-sebold.woff') format('woff'),
    url('fonts/pfbeausanspro-sebold.ttf') format('truetype'),
    url('fonts/pfbeausanspro-sebold.svg#pf_beausans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, table, th, td, embed, object { margin: 0; padding: 0; }
fieldset, img, abbr { border: 0 none; }
body { color: #000000; font-family: 'pf_beausans_proregular', sans-serif; font-size: 13px; height: 100%; background: url(/images/bg_wood.jpg);	/*background-image:url(/images/etalon.jpg)*/ ; min-width: 960px; }
h1 { font-size: 16px; font-weight: lighter; line-height: 25px; }
h2 { }
h3 { }
ul, ol { }
a { }
::selection {
    background: #b0b0b0; /* Safari */
}
::-moz-selection {
    background: #b0b0b0; /* Firefox */
}
html { height: 100%; }
#shadowwrp { background-image: url(/images/shadowbg.png); background-position:center; max-width: 1166px; min-width: 960px; margin: 0 auto; position: relative; min-height: 100%; }
#wrapper { width: 980px; margin: auto; }
/* Mainpage */
#header_main { height: 125px; }
#header_main .number { color: #fff; top: 13px; }
#maincenter { background: url(/images/shkaf.png) no-repeat; height: 697px; width: 747px; margin: auto; position: relative; }
#maincenter a { display:block; width:100%; height:100%;}
.mainpage { background-color: #8b8586; background-image: url(/images/bg_main.jpg); background-repeat: repeat-x; }
#mainbottom #zamershik { border: 0;  background: none; }
#mainbottom .zbutton { top: 910px; }
.logo, .kuhni, .mebel, .childs, .intdesign, .materials { height: 165px; width: 285px; position: absolute; background-repeat: no-repeat;}
.logo { background-image: url(/images/main_logo.png); left: 83px; }
.kuhni { background-image: url(/images/main_kuhni.png); }
.mebel { background-image: url(/images/main_mzakaz.png); }
.childs { background-image: url(/images/main_child.png); }
.intdesign { background-image: url(/images/main_intdiz.png); }
.materials { background-image: url(/images/main_materials.png); }
.mrow1 { }
.mrow2 { top: 262px; }
.mrow3 { top: 524px; }
.mright { left: 83px; background-position:0 0;  transition: all 500ms ease-in-out; transition-delay: 200ms; -webkit-transition: all 500ms ease-in-out; -webkit-transition-delay: 200ms; -webkit-animation-fill-mode: both; }
.mright:hover { animation: mright 500ms ease-in-out forwards; animation-delay: 0; -webkit-animation: mright 500ms ease-in-out forwards; -webkit-animation-delay: 0;  }
.mleft { left: 452px; background-position: 120px 0; transition: all 500ms ease-in-out; transition-delay: 200ms;  -webkit-transition: all 500ms ease-in-out; -webkit-transition-delay: 200ms; -webkit-animation-fill-mode: both; }
.mleft:hover { animation: mleft 500ms ease-in-out forwards; animation-delay: 0; -webkit-animation: mleft 500ms ease-in-out forwards; -webkit-animation-delay: 0;}
/* Ебаные огрызкобраузеры */
.chrome .mleft:hover { background-position:0 0;}
.chrome .mright:hover { background-position:120px 0;}
@-webkit-keyframes mright { 0% {
 background-position:0 0;
}
 100% {
 background-position:120px 0;
}
}
@-webkit-keyframes mleft { 0% {
 background-position:120px 0;
}
 100% {
 background-position:0 0;
}
}
/* Людские браузеры */
@keyframes mright { 0% {
 background-position:0 0;
}
 100% {
 background-position:120px 0;
}
}
@keyframes mleft { 0% {
 background-position:120px 0;
}
 100% {
 background-position:0 0;
}
}
#mainbottom { padding-bottom: 90px; padding-top: 90px; }
/* All */
.contentpage {display: table;}
.leftside {display: table-cell; width: 200px;vertical-align: top;}
.rightside {display: table-cell; vertical-align: top; width: 780px;}
.single .rightside {width: 980px;}
#leftmenu {padding-top: 40px;}
#leftmenu li {list-style: none outside none;min-height: 17px;padding: 10px 0;text-align: left;margin-left: 40px; width: 115px; }
#leftmenu li:hover a{color: #000;}
#leftmenu li.active{font-family: "pf_beausans_prosemibold",sans-serif;}
#leftmenu li.active a{color:#000000;}
#leftmenu li a {font-size: 14px; text-transform: uppercase; text-decoration: none; color:#737373; line-height: 18px;}
#header { height: 167px; border-bottom: 1px solid gray; background-color: #fff; }
#phone { height: 25px; position: relative; }
.number { color: #ed4f21; font-size: 18px; position: absolute; right: 40px; top: 13px; font-weight: 300; background: url(../images/phone.png) no-repeat left center;padding-left: 17px; }
.number .code { }
.number .num { }
#menuwrp { }
#logo { float: left; margin-top: 5px; width: 108px; margin-left: 83px; }
#topmenu { margin-left: 245px; padding-top: 39px; }
#topmenu li { float: left; list-style: none; margin: 0 25px; }
#topmenu li a { display: block; text-decoration: none; text-indent: -9999px; background-position: 0 -74px; background-repeat: no-repeat; overflow: hidden; background-image: url("/images/navigation.png"); position: relative; height: 75px; width: 83px; }
#topmenu li a:hover, #topmenu li.active a { background-position: 0; }
#topmenu li.first:hover a, #topmenu li.first.active a {background-position: 0 0; }
#topmenu li.second:hover a, #topmenu li.second.active a {background-position: -132px 0; }
#topmenu li.third:hover a, #topmenu li.third.active a {background-position: -256px 0; }
#topmenu li.fourth:hover a, #topmenu li.fourth.active a {background-position: -389px 0; }
#topmenu li.fifth:hover a, #topmenu li.fifth.active a {background-position: -529px 0; }
#topmenu li.first a {background-position: 0 -73px; }
#topmenu li.second a {background-position: -132px -73px; }
#topmenu li.third a {background-position: -256px -73px; }
#topmenu li.fourth a {background-position: -389px -73px; }
#topmenu li.fifth a {background-position: -529px -73px; }
#middle { border-bottom: 1px solid gray; background-color: #fdfdfd;padding-bottom: 85px; }
#zamershik { overflow: hidden; height: 20px; border-bottom: 1px solid gray; background-image: url("/images/ruletka.png"); background-repeat: no-repeat;background-position: 738px 59px;background-color: #e5e5e5; }
#zamershik .floatright { margin-left: 442px; padding: 6px 109px 0 0; line-height: 21px; }
#zamershik h2 {font-weight: 300; margin: 24px 0 16px; }
.form-1 input { border: 1px solid gray; width: 198px; margin-right: 17px; height: 20px; }
.form-2 input { }
.form-2 textarea { border: 1px solid gray; height: 104px; width: 417px; resize: none; overflow:hidden;}
.form-2 .button {background-image: url("/images/arrow_r.jpg");border: 0 none;bottom: 5px;display: block;font-size: 0;height: 15px;position: absolute;right: 20px;width: 15px;}
.form-2 { margin-top: 19px; position: relative; }
.zinner { margin-top: 20px; height: 205px; padding: 0px 80px 0; position: relative; }
.zbutton { border: 1px solid gray; position: absolute; top: 184px; width: 185px; height: 21px; right: 87px; background-color: #fff; }
.zbutton a { line-height: 20px; text-transform: uppercase; margin-left: 14px; text-decoration: none; color: #ed4f21; }
.page {
    background: url("/images/shkaf_bgall.jpg") no-repeat scroll 50px 10px transparent;
    padding-left: 80px;
    padding-top: 40px;
    width: 590px;
}
.single .page {padding-left: 171px;width: 660px; }
.rightside li {margin-left: 20px;}
.page-inner {}
.page h1, .page h3, .page h4 {font-family: "pf_beausans_prosemibold",sans-serif;}
.page h1 { font-size: 21px; letter-spacing: -0.3px; line-height: 28px; margin-bottom: 30px; }
.bottom-text h1 {margin-top: 30px; margin-bottom: 15px; }
.bottom-text p {}
.page-inner p {margin: 10px 0;}
.page h2{font-weight: normal; font-size: 14px; }
.page h3 {font-weight: normal; margin: 15px 0 20px 0; }
.page h4{font-size: 16px; font-weight: normal; margin: 15px 0 15px 0; }
.page h5{}
.page h6 {text-indent: 10px; font-size: 13px; color: #646464; background-color: #caccce; line-height: 28px; font-weight: normal; margin-top: 30px; }
ul.table li {margin: 0; padding-left: 13px; border: 1px solid lightgray; list-style: none; line-height: 28px; }
ul.table {margin-bottom: 30px;}
.page-text { line-height: 21px; margin: 20px 0; font-size: 13px; }
.single .page-top { letter-spacing: 0.3px; margin-left: 260px; min-height: 320px; width: 400px; }
.page-top {margin-left: 250px;width: 340px; min-height: 380px;}
.page-mid { }
.page-bottom { margin-top: 20px; margin-bottom: 80px;}
.floatleft { float: left; }
.bottom-text { line-height: 21px;  letter-spacing: 0.1px; }

.articles .page-top {margin: auto; width: 100%; }
.articles .page-text {}
.articles .page { background: none;}
/* footer */
#footer { border-top: 2px solid #ed4f21; height: 82px; background-color: #2e2a28; position: relative; margin-top: -84px; }
.f_wrp { width: 980px; margin: auto; padding-top: 12px;}
.fleft {float: left;color:#737373; padding-left:23px; margin-top: 20px;}
.fright {float: right; margin-right: 14px; }
.fright li{float: left;list-style: none; margin: 0 34px;}
.fright li a {color: lightgray; text-decoration: none;text-transform: uppercase;}
.clr { clear: both; }
/* Разделы */

.detskay438 .page{background: url("/images/loshadka.png") no-repeat scroll 50px 10px transparent;}
.detskay438 .bottomart {background: url("/images/kubiki.png") no-repeat scroll 460px 0 transparent;height: 201px; margin-top: -90px; margin-bottom: 60px; }
.dizajni715 .page {background: url("/images/intdesignart.jpg") no-repeat scroll 100px 65px transparent;}
.dizajni715 .bottomart {background: url("/images/intdesignartniz.jpg") no-repeat scroll 519px 0 transparent;height: 207px; margin-top: -74px; margin-bottom: 60px; }
.dizajni715 .bottom-text p {margin: 0 13px; }
.kuhnina718 .page {background: url("/images/kuhni.jpg") no-repeat scroll 87px 0px transparent;}
.welcome {
    float: left;
    font-size: 24px;
    line-height: 30px;
    width: 300px;
}
/* Nivo Slider */
.slider-wrapper { margin-top: 15px;}
.nivoSlider { position: relative; width: 100%; height: auto; overflow: hidden; }
.nivoSlider img { position: absolute; top: 0px; left: 0px; max-width: none; }
.nivo-main-image { display: block !important; position: relative !important; width: 100% !important; }
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; border: 0; padding: 0; margin: 0; z-index: 6; display: none; }
/* The slices and boxes in the Slider */
.nivo-slice { display: block; position: absolute; z-index: 5; height: 100%; top: 0; }
.nivo-box { display: block; position: absolute; z-index: 5; overflow: hidden; }
.nivo-box img { display: block; }
/* Caption styles */
.nivo-caption { position: absolute; left: 0px; bottom: 0px; background: #000; color: #fff; width: 100%; z-index: 8; padding: 5px 10px; opacity: 0.8; overflow: hidden; display: none; -moz-opacity: 0.8; filter: alpha(opacity=8); -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */ -moz-box-sizing: border-box;    /* Firefox, other Gecko */ box-sizing: border-box;         /* Opera/IE 8+ */ }
.nivo-caption p { padding: 5px; margin: 0; }
.nivo-caption a { display: inline !important; }
.nivo-html-caption { display: none; }
/* Direction nav styles (e.g. Next & Prev) */
#counter {text-align: center;font-size: 16px; letter-spacing: 1px;}
.nivo-directionNav {width: 160px; margin-left: 430px;}
.single .nivo-directionNav {margin-left: 500px; }
.nivo-directionNav a { cursor: pointer; font-size: 0; display: block; width: 15px; height: 15px;}
.nivo-prevNav { left: 0; background: url(../images/arrow_l.jpg) no-repeat scroll 0 0; float: left; }

.nivo-nextNav {background: url("../images/arrow_r.jpg") no-repeat scroll  0 0 transparent; float: right;}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav { display:none;}
.nivo-controlNav a { cursor: pointer; }
.nivo-controlNav a.active { font-weight: bold; }
.nivo-control img {width: 130px;}
/* Resize area */


/* Admin Area */
#adminpage {padding-bottom: 20px;}
#admin_login {margin: 225px auto auto;width: 300px; text-align: center;}
.loginform {margin: auto;width: 150px;}
.loginform input {width: 100%;}
#adminpage .projects li, #adminpage .articles li { list-style:none; margin:0;}
#adminpage .projects li a, #adminpage .articles li a { color:#ee7a0e;}
#adminpage .projects li a:hover, #adminpage .articles li a:hover { color:red;}
#adminpage .projects li div, #adminpage .articles li div {    border: 1px solid #f0f0f0;    display: table-cell;    min-width: 50px; padding:2px;}
#adminpage .projects li .name, #adminpage .articles li .name { width:400px;}
#adminpage .articles li .order {text-align: center;}
#adminpage .articles li .edit {width: 90px;}
#adminpage form label, #adminpage form input {clear: both;display: block;margin:5px 0;font:bold 12px Open Sans;color:#676662;}
#adminpage form label {margin:10px 0 2px 0;}
#adminpage .notification {color: #E5D5C2;margin: 25px 55px 0;}
input#submit {color: black !important;}
#adminpage .aux_images li {float: left;list-style: none outside none;margin: 5px;}
#adminpage .status-message {border: 1px solid;border-radius: 5px 5px 5px 5px;margin: 5px;padding: 10px;text-align: center;}
#adminpage h2 { margin:10px 0;}
#adminpage h6 { font-size:16px;}
#adminpage .description {padding-bottom: 10px;}
.deletpage .left p{}
.deletpage .left div {border: 1px solid;margin: 5px 0;padding: 5px;}
#adminpage .edit input {}
#order input {display: inline !important; margin: 0 !important;}


/* materials area*/
#leftmenu{
    color:#737373;
}
.material_pic img {
    position: relative;
    z-index: 1;
}
.materials_carrier{
    color:#737373;
    width: 590px;
    margin-top:63px;
    margin-left:69px;
}
.material_iner {
    float: left;
    width: 20%;
}
.material_pic {
    height: 102px;
    position: relative;
    width: 102px;
}
.category_description, .row {
    clear: both;
}
.category_description {
    margin-bottom: 143px;
    width: 416px;
}
.material_name, .material_label{
   width:102px;
   overflow:hidden;
}
.material_name {
    margin-top: 10px;
    font-weight: bold;
}
.material_label {
    margin-bottom:27px;
}

/*404*/


.error {
    color: #737373;
    font-size: 14px;
    height: 600px;
    margin-left: 84px;
    margin-top: 36px;
    width: 100%;
}