AddDefaultCharset UTF-8
RewriteEngine On

php_value max_file_uploads 40

RewriteCond %{HTTP_HOST} ^www.facturamebel.ru$ [NC]
RewriteRule ^(.*)$ http://facturamebel.ru/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]