<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Neu v1.0 |  Responsive Admin Skin</title>
        
        <!-- Bootstrap core CSS -->
        <link href="dist/css/bootstrap.css" rel="stylesheet">
        
        <!-- Boostrap Theme -->
        <link href="css/skin.css" rel="stylesheet">
        <link href="css/boostrap-overrides.css" rel="stylesheet">
        <link href="css/theme.css" rel="stylesheet">
        
        <!-- Custom styles for this template -->
        <link href="assets/css/sidebar.css" rel="stylesheet">
        
        <!-- Plugins-->
        <link href="assets/css/font-awesome.css" rel="stylesheet">
        <link href="assets/css/animate-custom.css" rel="stylesheet">
        <link href="assets/plugins/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet">
        <link href="assets/css/pushy.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css">
        

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.min.js"></script>
        <![endif]-->

 </head>
 <body onload="initPieChart();">

    <!-- Slide out chat panel -->
    <nav class="pushy pushy-right">
        <div class="well-lg no-radius">
            <i class="icon-group"></i>&nbsp;&nbsp;&nbsp;<strong>Chat</strong>&nbsp;&nbsp;<span class="text-transparent">(4)</span>
            <a href="javascript:;" class="close-chat-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove pull-right text-transparent"></i></a>
			<br><br><div class="input-group inverse input-group-sm no-padding">
                      <span class="input-group-addon"><i class="icon-search text-transparent"></i></span>
                      <input type="text" class="form-control" placeholder="Search">
            </div>
           <div class="clearfix"></div>
        </div>
        <ul class="chat align-center-vert-alt">
            <li>
            	<a href="#"><img src="img/tn_user_07.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#"> Amin Bhatnagar<span class="text-online pull-right"><i class="icon-circle text-online "></i></span></a></small>
                <div class="clearfix"></div>
            </li>
            <li>
            	<a href="#" class="pull-left"><img src="img/tn_user_02.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Gina Wheeling<span class="text-online pull-right"><i class="icon-circle text-online "></i></span></a></small>
                <div class="clearfix"></div>
            </li>
            <li>
            	<a href="#" class="pull-left"><img src="img/tn_user_03.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Ryan Smith<span class="text-online pull-right"><i class="icon-circle text-online "></i></span></a></small>
                <div class="clearfix"></div>
            </li>
            <li>
            	<a href="#" class="pull-left"><img src="img/tn_user_04.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Hai Thatcher<span class="text-online pull-right"><i class="icon-circle text-online "></i></span></a></small>
                <div class="clearfix"></div>
            </li>
            <li>
            	<a href="#" class="pull-left"><img src="img/tn_user_05.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Jane Doe<span class="text-online pull-right"><i class="icon-circle text-danger"></i></span></a></small>
                <div class="clearfix"></div>
            </li>
           <li>
            	<a href="#" class="pull-left"><img src="img/tn_user_06.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Carson Winters<span class="text-online pull-right"><i class="icon-circle text-danger "></i></span></a></small>
                <div class="clearfix"></div>
            </li>
            <li class="idle">
            	<a href="#" class="pull-left"><img src="img/tn_user_01.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Peyton Max <span class="pull-right"><i class="icon-circle"></i></span></a></small>
                <div class="clearfix"></div>
            </li>
            <li class="idle">
            	<a href="#" class="pull-left"><img src="img/tn_user_05.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Brianna Winters<span class="pull-right"><i class="icon-circle"></i></span></a></small>
                <div class="clearfix"></div>
            </li>
            <li class="idle">
            	<a href="#" class="pull-left"><img src="img/tn_user_03.jpg" alt="User" class="img-circle user-thumbnail-xs"></a>
            	<small><a href="#">Micheal Anderson<span class="pull-right"><i class="icon-circle"></i></span></a></small>
                <div class="clearfix"></div>
            </li>
        </ul>
    </nav><!-- /end slide out chat -->

  <!-- Container for chat panel push-->
  <div id="container"> 
   <!-- Top Navbar  -->
        <div class="navbar navbar-static-top navbar-default " role="navigation">
            <div class="navbar-header navbar-inverse text-center">
                <button type="button" class="navbar-toggle border-left-med no-radius" id="menu-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle border-left-med no-radius" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="avatar"><img src="img/avatar.jpg" alt="Ryan" class="img-circle"></span>
                </button>
                <!-- logo -->
                <div class="navbar-brand"><a href="index.html"> <img src="img/logo.png" alt="logo"></a></div>
                <!-- / logo -->
            </div>
            <!-- user -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right navbar-user">
                    <!-- new messages -->
                    <li class="dropdown messages-dropdown">
                        <a href="#" class="dropdown-toggle announcements" data-toggle="dropdown"><i class="icon-envelope-alt"></i><span class="badge">23</span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header header-inverse"><i class="icon-envelope"></i>23 New Messages</li>
                            <li class="message-preview">
                                    <a href="#">
                                    <img src="img/tn_user_02.jpg" alt="User" class="img-circle user-thumbnail-xs">
                                    <span class="name pull-left">Maya Smith</span>
                                    <span class="label label-primary pull-right">Just Now</span><br>
                                    <span class="message text-transparent">Hi Ryan, I received a message from quis...</span>
                                    </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                <img src="img/tn_user_01.jpg" alt="User" class="img-circle user-thumbnail-xs">
                                <span class="name pull-left">James Doe</span>
                                <span class="time pull-right text-transparent"><i class="icon-time"></i> 4:34 PM</span><br>
                                <span class="message text-transparent">Good Afternoon Ryan, Were you able to...</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="message-preview">
                                <a href="#">
                                <img src="img/tn_user_04.jpg" alt="User" class="img-circle user-thumbnail-xs">
                                <span class="name pull-left">Benjamin Taylor</span>
                                <span class="time pull-right text-transparent"><i class="icon-time"></i> 1:56 PM</span><br>
                                <span class="message text-transparent">Hey, Can you give me a call when you get a...</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-footer text-center">
                                <a href="#">
                                See all new messages
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- alerts -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle announcements" data-toggle="dropdown">
                        <i class="icon-flag-alt"></i><span class="badge animated-delay flash">12</span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header header-inverse"><i class="icon-star"></i>12 Notifications </li>
                            <li class="notification">
                                <a href="#">
                                <span class="pull-left"><span class="label label-success"><i class="icon-comment"></i></span>  New Comment</span>
                                <span class="time pull-right text-transparent">Just Now</span><br>
                                </a>
                            </li>
                            <li class="notification">
                                <a href="#">
                                <span class="pull-left"><span class="label label-success"><i class="icon-comment"></i></span>  New Comment</span>
                                <span class="time pull-right text-transparent">5 Minutes Ago</span><br>
                                </a>
                            </li>
                            <li class="notification">
                                <a href="#">
                                <span class="pull-left"><span class="label label-primary"><i class="icon-user"></i></span>  12 New Users</span>
                                <span class="time pull-right text-transparent">23 Minutes ago</span><br>
                                </a>
                            </li>
                            <li class="notification">
                                <a href="#">
                                <span class="pull-left"><span class="label label-danger"><i class="icon-flag"></i></span>  Canceled Transaction</span>
                                <span class="time pull-right text-transparent">12 Hours Ago</span><br>
                                </a>
                            </li>
                            <li class="notification">
                                <a href="#">
                                <span class="pull-left"><span class="label label-warning"><i class="icon-shopping-cart"></i></span>  Canceled Transaction</span>
                                <span class="time pull-right text-transparent">Yesterday</span><br>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-footer text-center">
                                <a href="#">
                                See all notifications
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown alerts-dropdown">
                        <a href="#" class="dropdown-toggle announcements" data-toggle="dropdown"><i class="icon-bar-chart"></i><span class="badge">56</span></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header header-inverse"><i class="icon-bar-chart"></i>6 Pending Tasks </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="task">
                                    <span class="desc">November orders </span>
                                    </span>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="task">
                                    <span class="desc">Invoices paid</span>
                                    </span>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:65%">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="task">
                                    <span class="desc">Updates</span>
                                    </span>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:35%">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <span class="task">
                                    <span class="desc">Unread emails</span>
                                    </span>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:15%">
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="dropdown-footer text-center">
                                <a href="#">
                                See all tasks
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                    	<a href="#"><div class="menu-btn"><i class="icon-comment-alt"></i><span class="badge">2</span></div></a>
                      
                    </li>
                    <li class="avatar dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="img/avatar.jpg" alt="Ryan" class="img-circle nav-avatar">Welcome Ryan!<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="user-profile.html"><i class="icon-user"></i> Profile</a></li>
                            <li><a href="email.html"><i class="icon-envelope"></i> Inbox</a></li>
                            <li><a href="#"><i class="icon-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="icon-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- / nav-collapse -->
        </div>
        <!-- / top Navbar -->
        
		<!-- Wrapper for content below nav bar -->
        <div id="wrapper">
         <!-- Sidebar -->
          <div id="sidebar-wrapper" class="stretch-full-height">
            <ul class="sidebar-nav">
              <li>
                <a href="index.html">
                <span class="nav-icon"><i class="icon-dashboard icon-2x"></i></span>
                <span class="sidebar-menu-item-text">Dashboard</span></a>            
              </li>
              <li>
                 <a href="email.html">
                 <span class="nav-icon"><i class="icon-envelope-alt icon-2x"></i></span>
                 <span class="sidebar-menu-item-text">Email</span> <span class="responsive-hide badge">103</span>
                 </a>
              </li>
              <li class="nav-header"> 
                  <a href="#" data-toggle="collapse" data-target="#layouts">
                      <span class="nav-icon"><i class="icon-folder-open icon-2x"></i></span>
                      <span class="sidebar-menu-item-text">Layouts</span>
                      <i class="icon-chevron-down pull-right"></i>
                  </a>
                  <ul class="nav nav-list collapse submenu" id="layouts">
						<li><a href="boxedlayout.html">Boxed Layout</a></li>
                        <li><a href="horizontal-nav.html">Horizontal Menu</a></li>
                        <li><a href="skin-opt-1.html">Sample Skin</a></li>
                    </ul>
        	  </li>
              <li class="nav-header"  data-toggle="collapse" data-target="#uiMenu"> 
                  <a href="#">
                      <span class="nav-icon"><i class="icon-tablet icon-2x"></i></span>
                      <span class="sidebar-menu-item-text">UI Set</span>
                      <i class="icon-chevron-down pull-right"></i>
                  </a>
                  <ul class="nav nav-list collapse submenu" id="uiMenu">
                        <li><a href="buttons.html">Buttons</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="modals.html">Modals</a></li>
                        <li><a href="panels.html">Panels</a></li>
                        <li><a href="tabs.html">Tabs & Accordians</a></li>
                        <li><a href="sliders.html">Sliders</a></li>
                        <li><a href="notifications.html">Notifications</a></li>
                    </ul>
        	  </li>
        	  <li class="nav-header"  data-toggle="collapse" data-target="#pages"> 
                  <a href="#" class="active-title">
                      <span class="nav-icon"><i class="icon-copy icon-2x"></i></span>
                      <span class="sidebar-menu-item-text">Pages</span>
                      <i class="icon-chevron-down pull-right"></i>
                  </a>
                  <ul class="nav nav-list collapse in submenu" id="pages">
                         <li class="active"><a href="user-profile.html">User Profile</a></li>
                         <li><a href="login.html">Login</a></li>
                         <li><a href="register.html">Register</a></li>
                         <li><a href="404.html">404 Page</a></li><li><a href="500.html">500 Page</a></li>
                         <li><a href="lock.html">Lock Screen</a></li>
                         <li><a href="message.html">Send Message</a></li>
                         <li><a href="fileupload.html">File Upload</a></li>
                         <li><a href="timeline.html">Timeline</a></li>
                    </ul>
        	  </li>
        	  <li class="nav-header"  data-toggle="collapse" data-target="#tables"> 
                  <a href="#">
                      <span class="nav-icon"><i class="icon-table icon-2x"></i></span>
                      <span class="sidebar-menu-item-text">Tables</span>
                      <i class="icon-chevron-down pull-right"></i>
                  </a>
                  <ul class="nav nav-list collapse submenu" id="tables">
						<li><a href="basic.html">Basic</a></li>
                        <li><a href="data.html">Data</a></li>
                    </ul>
        	  </li>
              <li>
                <a href="charts.html">
                <span class="nav-icon"><i class="icon-bar-chart icon-2x"></i></span>
                <span class="sidebar-menu-item-text">Charts</span></a>            
              </li>
              <li>
                <a href="maps.html">
                <span class="nav-icon"><i class="icon-map-marker icon-2x"></i></span>
                <span class="sidebar-menu-item-text">Map</span></a>            
              </li>
              <li>
                <a href="calendar.html">
                <span class="nav-icon"><i class="icon-calendar icon-2x"></i></span>
                <span class="sidebar-menu-item-text">Calendar</span></a>            
              </li>
              <li>
                <a href="project-manager.html">
                <span class="nav-icon"><i class="icon-edit icon-2x"></i></span>
                <span class="sidebar-menu-item-text">Project Manager</span></a>            
              </li>
            </ul>
          </div><!-- /sidebar -->
          
          <!-- preloader -->
          <div class='preloader-wrapper'>
           <div class="preloader">
               <img src="img/preloader.png" alt='loading image'/>
           </div>
		  </div><!-- / preloader -->
         

         	    <!-- Keep all page content within the page-content-wrapper -->
          		<div id="page-content-wrapper" class="stretch-full-height animated-med-delay fadeInRight">
                
                <!-- Col 1 -->
                 <div class="col-md-8 no-breadcrumb">
				      <!-- basic info -->
                                    <div class="col-md-12 no-padding">
                                    	<div class="panel panel-gray-solid panel-body-only animated-med-delay fadeInUp downarrowdiv">
                                            	<div class="panel-heading">
                                                    <div class="tools pull-right">
                                                      <a href="#" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>                      	</div>
                                                </div>
                                          	    <div id="announcement" class="panel-body no-padding-top">
                                                    <ul class="list-inline">
                                                        <li>
                                                            <div class="chart-small">
                                                                <div class="percentage-light" data-percent="75"><span class="text-transparent">75%</span></div>
                                                            </div>
                                                        </li>
                                                        <li>&nbsp;</li>
                                                        <li>&nbsp;</li>
                                                        <li>&nbsp;</li>
                                                        <li>&nbsp;</li>
                                                        <li class="align-center-vert">
                                                            <h4>Complete your Profile</h4><h2 class="text-transparent">Your profile is 75% complete</h2>
                                                            <button class="btn btn-primary btn-sm">Update</button>&nbsp;&nbsp;
                                                            <button class="btn btn-default btn-sm">Skip</button>
                                                            
                                                        </li>
                                                     </ul><br>
                                                     <div class="add-arrow-down-left animated-med-delay fadeInUp"></div>
                                            </div>
                                        
                                        </div>
                                        
                                      </div>
                                      <div id="profile-main-widget" class="col-md-12 no-padding">
                                        <div class="panel text-center">
                                            <div class="panel-body bgimg-clouds">
                                            	<div class="col-sm-12  no-padding text-center">
                                                   <div class="tools pull-right icons-medium text-transparent">
                                        			<a href="#"><i class="icon-camera text-transparent"></i></a>
                                        			<a href="#"><i class="icon-cog text-transparent"></i></a>
                                                    <a href="#"><i class="icon-pencil text-transparent"></i></a>
                                            		</div>
                                           		    <div class="clearfix"></div>
                                           	 		<!-- user -->
                                                      <ul class="list-inline list-unstyled">
                                                          <li>
                                                              <div class="avatar text-center avatar-lg animated flipInX">
                                                                  <img src="img/avatar-lg.jpg" alt="Ryan" class="img-circle" width="135">
                                                               </div>
                                                           </li>
                                                           <li class="align-center-vert">
                                                               <div class="leftarrowdiv-white">
                                                                   <div class="well-lg transparent">
                                                                       <ul class="list-unstyled">
                                                                         <li class="no-padding-left"><h2>Ryan Smith</h2></li>
                                                                         <li class="no-padding-left"><h5 class="text-transparent">Web Designer at Smith 
                                                                          & Smith Studios</h5></li>
                                                                       </ul>
                                                                   </div>
                                                                </div>
                                                           </li>
                                                        </li> 
                                                        </ul>  
                                                </div>
                                                <br><br>
                                                    <div class="col-sm-3 col-xs-6">
                                                                 <div class="text-inverse">
                                                                    <span class="number"><i class="icon-group"></i>&nbsp;2,540</span>
                                                                 </div>
                                                            </div>
                                                            <div class="col-sm-3 col-xs-6">
                                                                <div class="text-inverse">
                                                                    <span class="number"><i class="icon-heart"></i>&nbsp;3,070</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 col-xs-6">
                                                                <div class="text-inverse">
                                                                    <span class="number"><i class="icon-twitter"></i>&nbsp;645</span>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-3 col-xs-6">
                                                                <div class="text-inverse">
                                                                    <span class="number"><i class="icon-rss"></i>&nbsp;1,301</span>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                   </div>
                                        </div>
                                    </div>  <!-- / basic info -->
                      	    <!-- Edit personal info -->
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                              <li><a href="#user" data-toggle="tab"><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;About me</a>
                              <li><a href="#education" data-toggle="tab"><i class="icon-book"></i>&nbsp;&nbsp;&nbsp;Education</a></li>
                              <li><a href="#resume" data-toggle="tab"><i class="icon-file-text"></i>&nbsp;&nbsp;&nbsp;Work Experience</a></li>
                              <li><a href="#accolades" data-toggle="tab"><i class="icon-star"></i>&nbsp;&nbsp;&nbsp;Accolades</a></li>
                            </ul>
                            
                            <!-- Tab panes -->
                            <div class="tab-content add-shadow">
                              <div class="tab-pane active" id="user">
                                      		<h3>Basic Info</h3>
                                      		<p><a href="#" id="info" data-type="text" data-pk="1" data-title="Enter Info">Vivamus id felis a arcu posuere blandit eu accumsan enim. Nunc massa arcu, placerat luctus lacus a, consequat suscipit eros. Nunc malesuada, mi consectetur hendrerit bibendum, dui magna luctus erat, pharetra rhoncus sem lorem in mi. Integer ac vestibulum dui. Nullam eleifend arcu nec eros dapibus tristique. Donec dictum orci tortor, in porttitor nisi posuere id. </a>
                                            </p><br>
                                            <p><strong>Find me:</strong></p>
                                            <button class="btn btn-default"><i class="icon-flickr"></i></button>
											<button class="btn btn-default"><i class="icon-tumblr"></i></button>
                                            <button class="btn btn-default"><i class="icon-android"></i></button> 
                                      </div>
                                      <div class="tab-pane" id="education">
                                      		<h3>Education</h3>
                                      		<h4>International University of Italy</h4>
                                            M.F.A Graphic Design<br>
                                            <span class="text-transparent">2007&mdash;2011</span>
                                            <br><br>
                                      		<h4>State University</h4>
                                            B.A. Liberal Arts<br>
                                            <span class="text-transparent">2002&mdash;2007</span>
                                            <br><br>
                                      		<h4>Provisional Certificate</h4>
                                            Department of Education<br>
                                            <span class="text-transparent">2001</span>
                                            <br><br>
                                      </div>
                                      <div class="tab-pane" id="resume">
                                      		<h3>Work Experience</h3>
                                      		<h4>Art & Technology Center</h4>
                                            Teacher of Design<br>
                                            <span class="text-transparent">2011&mdash;Present</span>
                                            <br><br>
                                      		<h4>The New Studio</h4>
                                            Intern<br>
                                            <span class="text-transparent">June 2011&mdash;August 2011</span>
                                            <br><br>
                                      		<h4>Smith's Construction</h4>
                                            Crate Builder / Carpenter<br>
                                            <span class="text-transparent">2005&mdash;2011</span>
                                            <br><br>
                                      </div>
                                      <div class="tab-pane" id="accolades">
                                      		<h3>Accolades</h3>

                                            <h4><a href="#" id="accolade-1" data-type="text" data-pk="1" data-title="Enter Accolade">Best of Competition&nbsp;&nbsp;&nbsp;<i class="icon-pencil text-transparent"></i></a></h4> 

                                            2013 ADDY Awards<br>
                                            <span class="text-transparent">2013</span>
                                            <br><br>
                                      		<h4><a href="#" id="accolade-2" data-type="text" data-pk="1" data-title="Enter Accolade">Oustanding Student Achievement&nbsp;&nbsp;&nbsp;<i class="icon-pencil text-transparent"></i></a></h4>
                                            International University of Italy<br>
                                            <span class="text-transparent">2011</span>
                                            <br><br>
                                      		<h4><a href="#" id="accolade-3" data-type="text" data-pk="1" data-title="Enter Accolade">Certificate of Excellence&nbsp;&nbsp;&nbsp;<i class="icon-pencil text-transparent"></i></a></h4>
                                            Creative Annual Award<br>
                                            <span class="text-transparent">2010</span>
                                            <br><br>
                                      </div>
                            </div>
                 </div><!--/ Col 1 -->
                 <!-- Col 2-->
                 	<div class="col-md-4 no-breadcrumb">
                    <!--  New Connections  -->
                        <div class="panel panel-white-solid">
                            	<div class="panel-heading"> 
                                		<div class="pull-left">
                                            <h4><i class="icon-user"></i>New Connections</h4>
                                        </div>
                                        <div class="tools pull-right">
                                              <a href="#"><i class="icon-refresh text-transparent"></i></a>
                                              <a href="#" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                </div>
                                <div class="panel-body table-rounded-corners no-padding-top">
                                	<div class="table-responsive table-no-border">
                                    <table class="table"> 
                                        <tr class="animated-delay flash">
                                        	<td><img src="img/tn_user_02.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Jill Doe</strong><br>Web Specialist, New Inc.</a></td>
                                            <td><a href="#" class="text-transparent"><span class="time">Just now</span></a></td>
                                        </tr>
                                        <tr>
                                        	<td><img src="img/tn_user_01.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Micheal Anderson</strong><br>UX Design, Studio 405</a></td>
                                            <td><A href="#" class="text-transparent"><span class="time">5 min ago</span></a></td>
                                        </tr>
                                        <tr>
                                        	<td><img src="img/tn_user_04.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Hai Thatcher</strong><br>Web Specialist, New Inc.</a></td>
                                            <td><A href="#" class="text-transparent"><span class="time">3:30 pm</span></a></td>
                                        </tr>
                                        <tr>
                                        	<td><img src="img/tn_user_05.jpg" alt="User" class="img-circle nav-avatar"></td>
                                            <td><a href="#"><strong>Brianna Moser</strong><br>Web Specialist, New Inc.</a></td>
                                            <td><A href="#" class="text-transparent"><span class="time">12:01 pm</span></A></td>
                                        </tr>
                                    </table></div>
                                </div>
                                <div class="panel-footer"></div>
                        </div> <!-- / new connections -->
                        <!--  new projects -->
                            <div class="panel">
                            	<div class="panel-heading"> 
                                		<div class="pull-left">
                                            <h4>New Projects Posted</h4>
                                        </div>
                                        <div class="tools pull-right">
                                              <a href="#"><i class="icon-refresh text-transparent"></i></a>
                                              <a href="#" class="close-panel" data-dismiss="panel" aria-hidden="true"><i class="icon-remove text-transparent"></i></a>
                                        </div>
                                        <div class="clearfix"></div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="project-profile col-lg-6 col-md-12">
                                                <strong>Website</strong><br>
                                                Project Manager
                                                <h5><small><a href="#" class="text-transparent">www.directhire.com</a></small></h5>
                                                <div class="pull-left">
                                                    <button class="btn btn-inverse btn-xs" type="button"><small><i class="icon-plus"></i></small>&nbsp;Add Project</button>
                                                </div>
                                                <div class="clearfix"></div>
                                        </div>
                                        <div class="project-profile col-lg-6 col-md-12">
                                                <strong>Star 32</strong><br>
                                                Designer
                                                <h5><small><a href="#" class="text-transparent">www.directhire.com</a></small></h5>
                                                <div class="pull-left">
                                                    <button class="btn  btn-inverse btn-xs" type="button"><small><i class="icon-plus"></i></small>&nbsp;Add Project</button>
                                                </div>
                                                <div class="clearfix"></div>
                                        </div>
                                        
                                       
                                     
                                    </div>
                                  </div>
                                  <div class="panel-footer">
                                         <span class="text-transparent pull-left">VIEW ALL </span>
                                            <a class="text-transparent pull-right" href="#">
                                               <i class="icon-circle-arrow-right"></i>
                                            </a>
                                            <div class="clearfix"></div>
                                 </div>
                            </div><!--  / new projects -->
                            <!-- social share -->
                                        <div class="panel">
                                            <div class="panel-heading">
                                            </div>
                                            <div class="panel-body no-padding">
                                                <div class="share">
                                                    <textarea class="form-control no-border" rows="2" placeholder="Share what you've been up to..."></textarea>
                                                </div>
                                            </div>
                                            <div class="panel-footer icons-medium">
                                                <ul class="list-inline share-buttons pull-left">
                                                    <li><a href="#" class="text-transparent"><i class="icon-user"></i></a></li>
                                                    <li><a href="#" class="text-transparent"><i class="icon-camera"></i></a></li>
                                                    <li><a href="#" class="text-transparent"><i class="icon-twitter "></i></a></li>
                                                    <li><a href="#" class="text-transparent"><i class="icon-microphone"></i></a></li>
                                                </ul>
                                                <div class="pull-right">
                                                    <button class="btn btn-primary btn-xs pull-right">Share</button>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div><!-- / social share --> 
                    </div>
                 <!-- /col 2 -->
                 
                

                </div><!--/ page-content-wrapper-->

			</div><!-- / wrapper for content below nav bar -->
       	</div><!-- /container for chat panel push--> 
        
        <!-- Plugins & Custom -->
        <!-- Placed at the end of the document so the pages load faster -->
		
		<!-- Theme Core -->
		<script src="assets/js/jquery.js"></script>
    	<script src="assets/js/modernizr-2.6.2.min.js"></script>
        <script src="dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="assets/js/jquery-ui-1.10.4.custom.min.js"></script>
        <!-- Bootstrap X-Editable -->
		<script src="assets/plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
    	<script src="assets/plugins/bootstrap3-editable/js/x-editable-starter.js"></script>
		<!-- Preloader -->
		<script>
            $(window).load(function(){
             $('.preloader-wrapper').fadeOut();
            });
        </script>
	    <!-- Pushy JS --> 
        <script src="assets/js/pushy.js"></script>
        <!-- Custom -->
		<script src="assets/js/script.js"></script>
		<script src="assets/js/sidebar-navbar.js"></script>
        <!-- Easy Pie Charts -->
		<script type="text/javascript" src="assets/plugins/jquery-easy-pie-chart/examples/excanvas.js"></script>
        <script type="text/javascript" src="assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
        <script type="text/javascript">
            var initPieChart = function() {
                $('.percentage-light').easyPieChart({
                    animate: 1000,
					                    barColor: function(percent) {
                        percent /= 100;
                        return "rgb(" + Math.round(255 * (1-percent)) + ", " + Math.round(255 * percent) + ", 0)";
                    },
                    trackColor: '#1d1e24',
                    barColor: 	'#b4b6c3',
					scaleColor: false,
                    lineCap: 'butt',
                    lineWidth: 12,
                    animate: 1000,
					size: 90
                });


            };
		</script>

        <!-- Initialize Carousel-->
		<script>$('.carousel').carousel({
			  interval: 7000
			})
		 </script>
        
    </body>
</html>
